@import url('global_styles.css');
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
footer p {
    margin-bottom: 20px;
}
.social-links {
    align-items: center;
    margin-top: 20px;
}
.social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-links a {
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.social-links a:hover {
    color: hsl(0, 0%, 30%);
}
